.melody-icon {
  --melody-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--melody-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .melody-icon--$(val) {
    --melody-icon-color: var(--melody-color-$(val));
  }
}